<div id="title">M3 Sprint Showcase Bingo!</div>
<div id="container">
    <BingoBoardItem Text="Item 1"></BingoBoardItem>
    <BingoBoardItem Text="Item 2"></BingoBoardItem>
    <BingoBoardItem Text="Item 3"></BingoBoardItem>
    <BingoBoardItem Text="Item 4"></BingoBoardItem>
    <BingoBoardItem Text="Item 5"></BingoBoardItem>
    <BingoBoardItem Text="Item 6"></BingoBoardItem>
    <BingoBoardItem Text="Item 7"></BingoBoardItem>
    <BingoBoardItem Text="Item 8"></BingoBoardItem>
    <BingoBoardItem Text="Item 9"></BingoBoardItem>
    <BingoBoardItem Text="Item 10"></BingoBoardItem>
    <BingoBoardItem Text="Item 11"></BingoBoardItem>
    <BingoBoardItem Text="Item 12"></BingoBoardItem>
    <BingoBoardItem Text="Item 13"></BingoBoardItem>
    <BingoBoardItem Text="Item 14"></BingoBoardItem>
    <BingoBoardItem Text="Item 15"></BingoBoardItem>
    <BingoBoardItem Text="Item 16"></BingoBoardItem>
    <BingoBoardItem Text="Item 17"></BingoBoardItem>
    <BingoBoardItem Text="Item 18"></BingoBoardItem>
    <BingoBoardItem Text="Item 19"></BingoBoardItem>
    <BingoBoardItem Text="Item 20"></BingoBoardItem>
    <BingoBoardItem Text="Item 21"></BingoBoardItem>
    <BingoBoardItem Text="Item 22"></BingoBoardItem>
    <BingoBoardItem Text="Item 23"></BingoBoardItem>
    <BingoBoardItem Text="Item 24"></BingoBoardItem>
    <BingoBoardItem Text="Item 25"></BingoBoardItem>
</div>