@using Model = bingo_board_model;

<div id="title">M3 Sprint Showcase Bingo!</div>
<div id="container">
    @if (Board != null)
    {
        @foreach (var item in Board.BingoBoardItems)
        {
            <BingoBoardItem Text="@item.Text"></BingoBoardItem>
        }
    }
    
</div>

@code {
    [Parameter]
    public Model.BingoBoard Board {get;set;}
}